# Project exclude paths
/out/
/resources/board/cells/cell_0_0.png
/resources/board/cells/cell_0_1.png
/resources/board/cells/cell_0_2.png
/resources/board/cells/cell_0_3.png
/resources/board/cells/cell_0_4.png
/resources/board/cells/cell_0_5.png
/resources/board/cells/cell_0_6.png
/resources/board/cells/cell_0_7.png
/resources/board/cells/cell_0_8.png
/resources/board/cells/cell_1_0.png
/resources/board/cells/cell_1_1.png
/resources/board/cells/cell_1_2.png
/resources/board/cells/cell_1_3.png
/resources/board/cells/cell_1_4.png
/resources/board/cells/cell_1_5.png
/resources/board/cells/cell_1_6.png
/resources/board/cells/cell_1_7.png
/resources/board/cells/cell_1_8.png
/resources/board/cells/cell_2_0.png
/resources/board/cells/cell_2_1.png
/resources/board/cells/cell_2_2.png
/resources/board/cells/cell_2_3.png
/resources/board/cells/cell_2_4.png
/resources/board/cells/cell_2_5.png
/resources/board/cells/cell_2_6.png
/resources/board/cells/cell_2_7.png
/resources/board/cells/cell_2_8.png
/resources/board/cells/cell_3_0.png
/resources/board/cells/cell_3_1.png
/resources/board/cells/cell_3_2.png
/resources/board/cells/cell_3_3.png
/resources/board/cells/cell_3_4.png
/resources/board/cells/cell_3_5.png
/resources/board/cells/cell_3_6.png
/resources/board/cells/cell_3_7.png
/resources/board/cells/cell_3_8.png
/resources/board/cells/cell_4_0.png
/resources/board/cells/cell_4_1.png
/resources/board/cells/cell_4_2.png
/resources/board/cells/cell_4_3.png
/resources/board/cells/cell_4_4.png
/resources/board/cells/cell_4_5.png
/resources/board/cells/cell_4_6.png
/resources/board/cells/cell_4_7.png
/resources/board/cells/cell_4_8.png
/resources/board/cells/cell_5_0.png
/resources/board/cells/cell_5_1.png
/resources/board/cells/cell_5_2.png
/resources/board/cells/cell_5_3.png
/resources/board/cells/cell_5_4.png
/resources/board/cells/cell_5_5.png
/resources/board/cells/cell_5_6.png
/resources/board/cells/cell_5_7.png
/resources/board/cells/cell_5_8.png
/resources/board/cells/cell_6_0.png
/resources/board/cells/cell_6_1.png
/resources/board/cells/cell_6_2.png
/resources/board/cells/cell_6_3.png
/resources/board/cells/cell_6_4.png
/resources/board/cells/cell_6_5.png
/resources/board/cells/cell_6_6.png
/resources/board/cells/cell_6_7.png
/resources/board/cells/cell_6_8.png
/resources/board/cells/cell_7_0.png
/resources/board/cells/cell_7_1.png
/resources/board/cells/cell_7_2.png
/resources/board/cells/cell_7_3.png
/resources/board/cells/cell_7_4.png
/resources/board/cells/cell_7_5.png
/resources/board/cells/cell_7_6.png
/resources/board/cells/cell_7_7.png
/resources/board/cells/cell_7_8.png
/resources/board/cells/cell_8_0.png
/resources/board/cells/cell_8_1.png
/resources/board/cells/cell_8_2.png
/resources/board/cells/cell_8_3.png
/resources/board/cells/cell_8_4.png
/resources/board/cells/cell_8_5.png
/resources/board/cells/cell_8_6.png
/resources/board/cells/cell_8_7.png
/resources/board/cells/cell_8_8.png
